<dialog id="brt-label-settings-dialog" class="bootstrap">
    <style>
        dialog {
            font-size: 0.9rem;
            border: none;
            padding: 16px;
        }
        dialog::backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }
        fieldset {
            border: 1px solid #ccc;
            padding: 8px;
            margin-bottom: 10px;
        }
        legend {
            font-weight: 400;
            font-size: 1.2rem;
            padding-left: 8px;
        }
        .d-flex-100 {
            width: 100%;
        }
        .gap-2 {
            gap: 0.5rem;
        }
        .fixed-width-xl {
            width: 300px;
        }
        .fixed-width-lg {
            width: 250px;
        }
        .fixed-width-md {
            width: 200px;
        }
        .fixed-width-sm {
            width: 100px;
        }
        .fixed-width-xs {
            width: 50px;
        }
        .p-4 {
            padding: 1rem;
        }
    </style>
    <form id="brt-label-settings-form" method="POST" style="font-size: 0.9rem;">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Impostazioni etichette</h5>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Url per Bilancia Elettronica</label>
                    <div class="alert alert-info" role="alert">
                        <h4>Inserisci questo URL per inviare i dati dalla Bilancia elettronica al modulo</h4>
                        <p>{{ autoweightControllerURL}}</p>
                        <ul class="list-group">
                            <li class="list-group-item">PECOD: Codice pesata (numericSenderReference)</li>
                            <li class="list-group-item">PPESO: peso in kg</li>
                            <li class="list-group-item">PVOLU: volume in m3</li>
                            <li class="list-group-item">X: misura pacco in mm</li>
                            <li class="list-group-item">Y: misura pacco in mm</li>
                            <li class="list-group-item">Z: misura pacco in mm</li>
                            <li class="list-group-item">ID_FISCALE: id interno bilancia (opzionale)</li>
                            <li class="list-group-item">PFLAG: flag interno bilancia (opzionale)</li>
                            <li class="list-group-item">PTIMP: data di pesatura</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ambiente</label>
                    <div class="ps-switch ps-switch-lg ps-togglable-row ps-label-left">
                        <input type="radio" name="BRT_ENVIRONMENT" id="BRT_ENVIRONMENT_SANDBOX" value="SANDBOX" {% if settings.environment == 'SANDBOX' or settings.environment == '' %}checked{% endif %}>
                        <label for="BRT_ENVIRONMENT_SANDBOX">Sandbox</label>
                        <input type="radio" name="BRT_ENVIRONMENT" id="BRT_ENVIRONMENT_PRODUCTION" value="PRODUCTION" {% if settings.environment == 'PRODUCTION' %}checked{% endif %}>
                        <label for="BRT_ENVIRONMENT_PRODUCTION">Produzione</label>
                        <span class="slide-button"></span>
                    </div>
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>Sandbox</legend>
                        <div class="d-flex justify-content-start align-items-center gap-2">
                            <div class="form-group">
                                <label for="BRT_SANDBOX_USER_ID">User ID</label>
                                <input type="text" name="BRT_SANDBOX_USER_ID" id="BRT_SANDBOX_USER_ID" class="form-control" value="{{ settings.sandbox_user_id }}">
                            </div>
                            <div class="form-group">
                                <label for="BRT_SANDBOX_PASSWORD">Password</label>
                                <input type="text" name="BRT_SANDBOX_PASSWORD" id="BRT_SANDBOX_PASSWORD" class="form-control" value="{{ settings.sandbox_password }}">
                            </div>
                            <div class="form-group">
                                <label for="BRT_SANDBOX_DEPARTURE_DEPOT">Deposito di partenza</label>
                                <input type="text" name="BRT_SANDBOX_DEPARTURE_DEPOT" id="BRT_SANDBOX_DEPARTURE_DEPOT" class="form-control" value="{{ settings.sandbox_departure_depot }}">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>Produzione</legend>
                        <div class="d-flex justify-content-start align-items-center gap-2">
                            <div class="form-group">
                                <label for="BRT_PRODUCTION_USER_ID">User ID</label>
                                <input type="text" name="BRT_PRODUCTION_USER_ID" id="BRT_PRODUCTION_USER_ID" class="form-control" value="{{ settings.production_user_id }}">
                            </div>
                            <div class="form-group">
                                <label for="BRT_PRODUCTION_PASSWORD">Password</label>
                                <input type="text" name="BRT_PRODUCTION_PASSWORD" id="BRT_PRODUCTION_PASSWORD" class="form-control" value="{{ settings.production_password }}">
                            </div>
                            <div class="form-group">
                                <label for="BRT_PRODUCTION_DEPARTURE_DEPOT">Deposito di partenza</label>
                                <input type="text" name="BRT_PRODUCTION_DEPARTURE_DEPOT" id="BRT_PRODUCTION_DEPARTURE_DEPOT" class="form-control" value="{{ settings.production_departure_depot }}">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <label for="BRT_SENDER_CUSTOMER_CODE">Codice mittente</label>
                    <input type="text" name="BRT_SENDER_CUSTOMER_CODE" id="BRT_SENDER_CUSTOMER_CODE" class="form-control" value="{{ settings.sender_customer_code }}">
                </div>
                <div class="form-group">
                    <label for="BRT_DELIVERY_FREIGHT_TYPE_CODE">Porto</label>
                    <select name="BRT_DELIVERY_FREIGHT_TYPE_CODE" id="BRT_DELIVERY_FREIGHT_TYPE_CODE" class="form-control">
                        <option value="DAP">FRANCO</option>
                        <option value="EXW">ASSEGNATO</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="BRT_SERVICE_TYPE">Tipo di servizio</label>
                    <select name="BRT_SERVICE_TYPE" id="BRT_SERVICE_TYPE" class="form-control">
                        <option value="DEF">Default</option>
                        <option value="E">Espresso</option>
                        <option value="H">10:30</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="BRT_NETWORK">Network</label>
                    <select name="BRT_NETWORK" id="BRT_NETWORK" class="form-control">
                        <option value="D">DPD</option>
                        <option value="E">EURO EXPRESS</option>
                        <option value="F">FED</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="BRT_COD_PAYMENT_TYPE">Tipo di pagamento contrassegno</label>
                    <select name="BRT_COD_PAYMENT_TYPE" id="BRT_COD_PAYMENT_TYPE" class="form-control">
                        <option value="DEF">ACCETTARE CONTANTE</option>
                        <option value="BM">ACCETTARE ASSEGNO BANCARIO INTESTATO ALLA MITTENTE</option>
                        <option value="CM">ACCETTARE ASSEGNO CIRCOLARE INTESTATO ALLA MITTENTE</option>
                        <option value="BB">ACCETTARE ASSEGNO BANCARIO INTESTATO CORRIERE CON MANLEVA</option>
                        <option value="OM">ACCETTARE ASSEGNO INTESTATO AL MITTENTE ORIGINALE</option>
                        <option value="OC">ACCETTARE ASSEGNO CIRCOLARE INTESTATO AL MITTENTE ORIGINALE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="BRT_CASH_ON_DELIVERY_MODULES">Moduli contrassegno</label>
                    <select name="BRT_CASH_ON_DELIVERY_MODULES[]" id="BRT_CASH_ON_DELIVERY_MODULES" class="form-control" multiple>
                        {% for module in cashOnDeliveryModules %}
                            <option value="{{ module.id_module }}" {% if module.id_module in settings.cash_on_delivery_modules %}selected{% endif %}>{{ module.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="BRT_PRICING_CONDITION_CODE">Condizioni tariffarie</label>
                    <input type="text" name="BRT_PRICING_CONDITION_CODE" id="BRT_PRICING_CONDITION_CODE" class="form-control" value="{{ settings.pricing_condition_code }}">
                </div>
                <div class="form-group">
                    <label for="BRT_SENDER_PARCEL_TYPE">Tipo di merce</label>
                    <input type="text" name="BRT_SENDER_PARCEL_TYPE" id="BRT_SENDER_PARCEL_TYPE" class="form-control" value="{{ settings.sender_parcel_type }}">
                </div>
                <div class="form-group">
                    <label>Avvisi</label>
                    <div class="ps-switch ps-switch-lg ps-togglable-row ps-label-left">
                        <input type="radio" name="BRT_IS_ALERT_REQUIRED" id="BRT_IS_ALERT_REQUIRED_OFF" value="0" {% if settings.is_alert_required == '0' %}checked{% endif %}>
                        <label for="BRT_IS_ALERT_REQUIRED_OFF">NO</label>
                        <input type="radio" name="BRT_IS_ALERT_REQUIRED" id="BRT_IS_ALERT_REQUIRED_ON" value="1" {% if settings.is_alert_required == '1' %}checked{% endif %}>
                        <label for="BRT_IS_ALERT_REQUIRED_ON">SI</label>
                        <span class="slide-button"></span>
                    </div>
                </div>
                <fieldset>
                    <legend>Impostazioni di sistema</legend>
                    <div class="row p-4">
                        <div class="d-flex d-flex-100 justify-content-between align-items-center gap-2">
                            <div class="form-group">
                                <label for="BRT_ORDER_STATE_CHANGE">Cambia lo stato d'ordine in</label>
                                <select name="BRT_ORDER_STATE_CHANGE" id="BRT_ORDER_STATE_CHANGE" class="form-control">
                                    {% for orderState in orderStates %}
                                        <option value="{{ orderState.id_order_state }}" {% if settings.order_state_change == orderState.id_order_state %}selected{% endif %}>{{ orderState.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="BRT_ORDER_STATE_SHOW_BUTTON">Visualizza il pulsante crea etichetta</label>
                                <select name="BRT_ORDER_STATE_SHOW_BUTTON" id="BRT_ORDER_STATE_SHOW_BUTTON" class="form-control">
                                    {% for orderState in orderStates %}
                                        <option value="{{ orderState.id_order_state }}" {% if settings.order_state_show_button == orderState.id_order_state %}selected{% endif %}>{{ orderState.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Etichetta</legend>
                    <div class="row p-4">
                        <div class="d-flex d-flex-100 justify-content-between align-items-center gap-2">
                            <div class="form-group">
                                <label>Stampa etichetta?</label>
                                <div class="ps-switch ps-switch-lg ps-togglable-row ps-label-left">
                                    <input type="radio" name="BRT_IS_LABEL_REQUIRED" id="BRT_IS_LABEL_REQUIRED_OFF" value="0" {% if settings.is_label_required == '0' %}checked{% endif %}>
                                    <label for="BRT_IS_LABEL_REQUIRED_OFF">NO</label>
                                    <input type="radio" name="BRT_IS_LABEL_REQUIRED" id="BRT_IS_LABEL_REQUIRED_ON" value="1" {% if settings.is_label_required == '1' %}checked{% endif %}>
                                    <label for="BRT_IS_LABEL_REQUIRED_ON">SI</label>
                                    <span class="slide-button"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tipo di stampa</label>
                                <div class="ps-switch ps-switch-lg ps-togglable-row ps-label-left">
                                    <input type="radio" name="BRT_LABEL_OUTPUT_TYPE" id="BRT_LABEL_OUTPUT_TYPE_PDF" value="PDF" {% if settings.label_output_type == 'PDF' %}checked{% endif %}>
                                    <label for="BRT_LABEL_OUTPUT_TYPE_PDF">PDF</label>
                                    <input type="radio" name="BRT_LABEL_OUTPUT_TYPE" id="BRT_LABEL_OUTPUT_TYPE_ZPL" value="ZPL" {% if settings.label_output_type == 'ZPL' %}checked{% endif %}>
                                    <label for="BRT_LABEL_TYPE_ZPL">ZPL</label>
                                    <span class="slide-button"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Stampa bordi?</label>
                                <div class="ps-switch ps-switch-lg ps-togglable-row ps-label-left">
                                    <input type="radio" name="BRT_LABEL_IS_BORDER_REQUIRED" id="BRT_LABEL_IS_BORDER_REQUIRED_OFF" value="0" {% if settings.label_is_border_required == '0' %}checked{% endif %}>
                                    <label for="BRT_LABEL_IS_BORDER_REQUIRED_OFF">NO</label>
                                    <input type="radio" name="BRT_LABEL_IS_BORDER_REQUIRED" id="BRT_LABEL_IS_BORDER_REQUIRED_ON" value="1" {% if settings.label_is_border_required == '1' %}checked{% endif %}>
                                    <label for="BRT_LABEL_IS_BORDER_REQUIRED_ON">SI</label>
                                    <span class="slide-button"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="d-flex d-flex-100 justify-content-between align-items-center gap-2">
                            <div class="form-group">
                                <label>Stampa barcode?</label>
                                <div class="ps-switch ps-switch-lg ps-togglable-row ps-label-left">
                                    <input type="radio" name="BRT_LABEL_IS_BARCODE_CONTROL_ROW_REQUIRED" id="BRT_LABEL_IS_BARCODE_CONTROL_ROW_REQUIRED_OFF" value="0" {% if settings.label_is_barcode_control_row_required == '0' %}checked{% endif %}>
                                    <label for="BRT_LABEL_IS_BARCODE_CONTROL_ROW_REQUIRED_OFF">NO</label>
                                    <input type="radio" name="BRT_LABEL_IS_BARCODE_CONTROL_ROW_REQUIRED" id="BRT_LABEL_IS_BARCODE_CONTROL_ROW_REQUIRED_ON" value="1" {% if settings.label_is_barcode_control_row_required == '1' %}checked{% endif %}>
                                    <label for="BRT_LABEL_IS_BARCODE_CONTROL_ROW_REQUIRED_ON">SI</label>
                                    <span class="slide-button"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Stampa logo?</label>
                                <div class="ps-switch ps-switch-lg ps-togglable-row ps-label-left">
                                    <input type="radio" name="BRT_LABEL_IS_LOGO_REQUIRED" id="BRT_LABEL_IS_LOGO_REQUIRED_OFF" value="0" {% if settings.label_is_logo_required == '0' %}checked{% endif %}>
                                    <label for="BRT_LABEL_IS_LOGO_REQUIRED_OFF">NO</label>
                                    <input type="radio" name="BRT_LABEL_IS_LOGO_REQUIRED" id="BRT_LABEL_IS_LOGO_REQUIRED_ON" value="1" {% if settings.label_is_logo_required == '1' %}checked{% endif %}>
                                    <label for="BRT_LABEL_IS_LOGO_REQUIRED_ON">SI</label>
                                    <span class="slide-button"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="d-flex d-flex-100 justify-content-between align-items-center gap-2">
                            <div class="form-group fixed-width-md">
                                <label for="BRT_LABEL_OFFSET_X">Offset X</label>
                                <div class="input-group">
                                    <input type="number" name="BRT_LABEL_OFFSET_X" id="BRT_LABEL_OFFSET_X" class="form-control" value="{{ settings.label_offset_x }}">
                                    <span class="input-group-text">mm</span>
                                </div>
                            </div>
                            <div class="form-group fixed-width-md">
                                <label for="BRT_LABEL_OFFSET_Y">Offset Y</label>
                                <div class="input-group">
                                    <input type="number" name="BRT_LABEL_OFFSET_Y" id="BRT_LABEL_OFFSET_Y" class="form-control" value="{{ settings.label_offset_y }}">
                                    <span class="input-group-text">mm</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="BRT_LABEL_FORMAT">Formato etichetta</label>
                                <select name="BRT_LABEL_FORMAT" id="BRT_LABEL_FORMAT" class="form-control">
                                    <option value="DEF">95x65 (default)</option>
                                    <option value="DP5">100x150 (DPD ZPL)</option>
                                    <option value="DPH">100x150 (DPD Ibrido ZPL)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer d-flex justify-content-center gap-2">
                <button type="button" class="btn btn-primary" onclick="saveSettings();">Salva</button>
                <button type="button" class="btn btn-secondary" onclick="document.getElementById('brt-label-settings-dialog').close();">Chiudi</button>
            </div>
        </div>
    </form>
</dialog>