{% extends "@PrestaShop/Admin/layout.html.twig" %}


{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.datatables.net/v/bs4/moment-2.29.4/jszip-3.10.1/dt-2.3.2/af-2.7.0/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/cr-2.1.1/cc-1.0.4/date-1.5.5/fc-5.0.4/fh-4.0.2/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.1/sr-1.4.1/datatables.min.css" rel="stylesheet" integrity="sha384-p+Yzba94TQmyeybVpFr06W/ZuGO5eXmC3FYgFH/+Dq41KMsOb8ipyu26kA1ZgTj2" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/v/bs4/moment-2.29.4/jszip-3.10.1/dt-2.3.2/af-2.7.0/b-3.2.3/b-colvis-3.2.3/b-html5-3.2.3/cr-2.1.1/cc-1.0.4/date-1.5.5/fc-5.0.4/fh-4.0.2/kt-2.12.1/r-3.0.4/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.2/sp-2.3.3/sl-3.0.1/sr-1.4.1/datatables.min.js" integrity="sha384-KWqNmuIDo2cTHVQMmNsEhEFjyJ0Im9MR5ogk2ZqJ3zyx8hOGVAjmpSduXJvfbxC5" crossorigin="anonymous"></script>
	<script src="{{ asset('../modules/mpbrtapishipment/views/assets/js/datatables/bordero/bordero.js') }}"></script>
	<script src="{{ asset('../modules/mpbrtapishipment/views/assets/js/label/LabelManager.js') }}"></script>
{% endblock %}

{% block content %}
	<section class="toolbar" id="toolbar-menu">
		{% include '@Modules/mpbrtapishipment/views/templates/twig/components/toolbar.html.twig' with { icon: 'local_shipping', title: 'Borderò', showToolbar: true, showSearch: false, menu: menu } %}
	</section>

	<section class="datatable-container mt-4" id="datatable-container">
		{% include '@Modules/mpbrtapishipment/views/templates/twig/components/datatable.html.twig' with { borderoRows: borderoRows } %}
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		// Url Controller
		const borderoUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_get_table_data") }}';
		const borderoHistoryUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_get_history_table_data") }}';
		const borderoPrintLabelsUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_print_labels") }}';
		const borderoPrintAllLabelsUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_print_all_labels") }}';
		const borderoNewLabelUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_new_label") }}';
		const borderoDeleteLabelUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_delete_label") }}';
		const borderoFillOrderDetailsUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_fill_order_details") }}';
		const borderoPreferencesUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_preferences") }}';
		const borderoPermissionsUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_permissions") }}';
		const borderoSaveSettingsUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_save_settings") }}';
		const borderoSaveBrtRequestUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_save_brt_request") }}';
		const borderoCreateBrtRequestUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_create_brt_request") }}';
		const borderoSaveBrtResponseUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_save_brt_response") }}';
		const borderoReadParcelsUrl = '{{ path("mpbrtapishipment_admin_brt_bordero_read_parcels") }}';
		const borderoUrls = {
			borderoSaveBrtRequestUrl: borderoSaveBrtRequestUrl,
			borderoCreateBrtRequestUrl: borderoCreateBrtRequestUrl,
			borderoSaveBrtResponseUrl: borderoSaveBrtResponseUrl,
			borderoReadParcelsUrl: borderoReadParcelsUrl,
			borderoNewLabelUrl: borderoNewLabelUrl,
			borderoFillOrderDetailsUrl: borderoFillOrderDetailsUrl
		};
		// Costanti preferenze etichetta
		const labelPreferences = {
			{% for key, value in labelPreferences %}
			{{ key }}: "{{ value }}",
			{% endfor %}
		};
		// Costanti permessi etichetta
		const labelPermissions = {
			create: "{{ labelPermissions.create }}",
			read: "{{ labelPermissions.read }}",
			update: "{{ labelPermissions.update }}",
			delete: "{{ labelPermissions.delete }}"
		};
	</script>
{% endblock %}
